/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Dark: #45494C;
	--Darkest: #000000;
	--Lightest: #FFFFFF;
	--HeroImage: url('../Images/Hero-Image.png');
	--LogoImagePrint: url('../Images/Logo.svg');
	--Secondary: #f5f5f5;
	--Primary: #f84e2b;
	--Light: #d8d0c4;
	--Medium: #9ca28b;
	--LogoImage: url('../Images/Peak_Mobility_Logo_nebeneinander_Weiss_h40.png');
	--FontFamily: Manrope, 'Manrope ExtraBold', 'Manrope ExtraLight', 'Manrope Light', 'Manrope Medium', 'Manrope SemiBold', "Segoe UI", Tahoma, Arial, sans-serif;
}

